body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 230px 0px 230px;
}

.banner{
    display: flex;
    align-items: center;
}

.banner .banner-profile{
    width: 500px;
}



.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-primary{
    border: none;
    border-radius: 8px;
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFFFFF;
    font-size: 20px;
}