body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 230px 0px 230px;
}

.banner {
    display: flex;
    align-items: center;
}

.banner .banner-profile {
    width: 500px;
}



.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFFFFF;
    font-size: 20px;
}

/* main section */

.main-first {
    align-items: center;
    padding: 50px 240px;
}

.midle-title {
    text-align: center;
    font-size: 40px;
}

.midle-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 48px;
}

.flower-box {
    display: flex;
    gap: 20px;
}

.box-design-1 {
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 60px 0px 60px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

.box-design-2 {
    background-color: rgba(5, 151, 160, 0.15);
    padding: 110px 60px 61px 60px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

.box-design-3 {
    background-color: rgba(71, 125, 17, 0.15);
    padding: 75px 60px 0px 60px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

.flower-title {
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
}

.support {
    display: flex;
    justify-content: space-between;
    padding: 86px 240px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    text-align: center;
}

.icon-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 21px;
}

.main-second {
    display: flex;
    justify-content: space-between;
    padding: 86px 240px;
    background-color: rgba(229, 84, 115, 0.05);
}



span {
    color: #E55473
}

.sign-up-btn {
    text-align: center;
}

.second-banner {
    margin: auto;
}

/* main third section */

.main-third {
    padding: 128px 240px;
}

.instagram {
    display: flex;
    gap: 20px;
}
/* customer */

.bonus-section{
    padding: 60px 240px;
}

.customer {
    display: flex;
    gap: 180px;
    margin-top: 20px;
}

.customer-image {
    width: 200px;
    height: 250px;
    justify-content: space-evenly;
}

.customer-title{
    text-align: center;
    font-size: 35px;
}

.deals {
    background: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 120px 0px 0px 0px;
    padding: 86px 240px;
    border-radius: 8px;
}

#email {
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    padding: 22px 513px 22px 22px;
    color: rgba(39, 39, 39, 0.60);
}

/* footer */

.footer {
    background-color: #111010;
    text-align: center;
    padding: 128px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 24px;
}

.footer-descriiption {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    margin-bottom: 24px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}